@tailwind base;
@tailwind components;
@tailwind utilities;

.correct {
  color: #22C55B;
}

.incorrect {  
  color: #E24144;
}

.cursor::before {
  content: "|";
  color: yellow;
  transition: .3s;
}

.word > span {
  font-size: larger;
  transition: .3s;
}

/* .word > span:empty {
  margin-left: 8px;
} */