@tailwind base;
@tailwind components;
@tailwind utilities;

.correct {
  color: #22c55b;
}

.incorrect {
  color: #e24144;
}

.cursor::before {
  content: "|";
  color: yellow;
  transition: 0.3s;
}

.word > span {
  font-size: larger;
  transition: 0.3s;
}

.clicked {
  background-color: #e24144 !important;
  transition: 0.3s;
  cursor: default;
}

/* .word > span:empty {
  margin-left: 8px;
} */
